page{
 height:100%;
}
.flex{
	display: flex;
}
.items-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.flex-shrink-0{
	flex-shrink: 0;
}
.text-muted{
	color:#999;
}
.ml-5{
	margin-left: 5px;
}